// @import "/usr/share/rofi/themes/solarized_alternate.rasi"

configuration {
    modi: "drun,run";
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: "Apps";
    display-run: "Run";
    drun-display-format: "{name}";
    font: "JetBrainsMono Nerd Font 15";
}

//@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"

@theme "/usr/share/rofi/themes/android_notification.rasi"
