#!/usr/bin/env bash

set -euo pipefail

cd "$HOME/dotfiles"
git pull --ff-only

echo ">> Dry-run"
stow --dotfiles -n -t "$HOME" config home

if [[ "${1:-}" == "--apply" ]]; then
	echo
	echo ">> Applying"
	stow --dotfiles -t "$HOME" config
	stow --dotfiles -t "$HOME" home
	else
	echo
	echo ">> Revise conflitos antes de aplicar."
	echo ">> Se estiver tudo ok, rode:"
	echo "stow --dotfiles -t ~ config && stow --dotfiles -t ~ home"
fi
