# chezmoi placeholder
# This file replaces a symlink target that pointed to an external device.
# original target: ../../../../run/media/dev/stow/dotfiles/config/autostart/autostart/walker.desktop
# created: 2026-04-13T10:10:16Z
